/* universal selection */
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
::-webkit-input-placeholder:focus{
    color:gray;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 15px;
}
::-webkit-scrollbar{
    background: gray;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: aqua;
    height: 50%;
}
.div{
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    place-items: center;
    border: none;
    background: crimson;
    position: fixed;
    right: 3%;
    bottom: 5%;
    cursor: pointer;
    z-index: 99;
    transition: all .2s;
    border-radius: 4px;
}
.div:hover{
    background: white;
}
.div .fa-arrow-up{
    color: white;
}
.div:hover .fa-arrow-up{
    color: crimson;
}

/* navbar styling */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    background: #0e0e0ea1;
    width: 100%;
    height: 45px;
    z-index: 10;
}
.navbar #logo a{
    text-decoration: none;
    color: none;
    color: rgb(248, 243, 243);
}
.navbar #logo{
    font-size: 28px;
    font-weight: 700;
    position: fixed;
    top: 1%;
    left: 7%;
    color: rgb(248, 243, 243);
}
.navbar #logo span{
    font-size: 28px;
    font-weight: 700;
    width: 15%;
    color: orange;
}
#aside .fa-bars{
    position: fixed;
    top: 2%;
    right: 4%;
    width: 22px;
    height: 22px;
    color: white;
    z-index: 150;
}
#aside .fa-window-close{
    position: fixed;
    top: 2%;
    right: 4%;
    width: 22px;
    height: 22px;
    color: rgb(250, 246, 246);
    z-index: 150;
    background: rgb(8, 8, 8);
    border: black;
    opacity: 0;
}


#aside ul{
    padding: 3% 0%;
    width: 50%;
    height: 110%;
    position: fixed;
    top: -5%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: fixed;
    background: #000;
    z-index: 100;
    transform: translate(100%);
    transition: all .5s ease;
}
aside #check{
    position: fixed;
    top: 2%;
    right: 4%;
    width: 22px;
    height: 22px;
    z-index: 200;
    opacity: 0;
    cursor: pointer;
}

#check:checked~#asidebar{
    transform: translate(0%);
}
#check:checked~ .fa-bars{
    opacity: 0;
}
#check:checked~ .fa-window-close{
    opacity: 1;
}

#aside ul>li{
    list-style: none;
    padding: 3% 3%;
}

#aside ul>li>a{
    text-decoration: none;
    color: rgb(248, 246, 246);
    position: relative;
    font-size: 20px;
}
#aside ul>li>a::after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 0%;
    height: 0px;
    background:orange;
    color: orange;
    width: 0%;
    border: 0px solid orange;
    transition: all .3s ease;
}
#aside ul>li>a:hover::after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 0%;
    height: 0px;
    background:orange;
    color: orange;
    width: 100%;
    border-radius: 10px;
    border: .5px solid orange;
}

/* styling home section */
#home{
    background:linear-gradient(rgba(0, 19, 128, 0.466),rgba(0, 19, 128, 0.466)),url(images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    place-items: center;
    width: 100%;
}
#home .content h1{
    font-size:40px;
    animation-name: coloranimation;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
@keyframes coloranimation{
    0%{
        color: white;
    }
    25%{
        color: chartreuse;
    }
    50%{
        color: chocolate;
    }
    75%{
        color: aqua;
    }
    100%{
        color: white;
    }
}
#home .content button{
    padding: 25px 110px;
    display: block;
    margin: 0% auto;
    border-radius: 20px;
    border: 1px solid white;
    background: none;
    position: relative;
    overflow: hidden;
    transition: all .6s ease;
    font-size: 20px;
    width: 50px;
    height: 20px;
    cursor: pointer;
}
#home .content button a{
    color: #fafdfd;
    font-size: 20px;
    text-decoration:none;
    z-index: 40;
    position: absolute;
    top: 12px;
    left: 16px;
    right: 16px;
    bottom: 12px;
    transition: all .6s ease;
}
#home .content button:hover{
    border: 1px solid aqua;
}
#home .content button:hover a{
    color: rgb(17, 145, 85);
}
#home .content button::before{
    position: absolute;
    content: "";
    background: linear-gradient(45deg,rgba(0, 128, 0, 0.678),aqua,rgba(0, 128, 0, 0.678));
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    transition: all .6s ease;
    z-index: 30;
}
#home .content button:hover::before{
    top: 0%;
    left: 0%;
    width: 100%;
    opacity: 1;
    background: linear-gradient(45deg,rgba(0, 128, 0, 0.678),aqua,rgba(0, 128, 0, 0.678));
    transition: all .6s ;
    z-index: 30;
}
/* responsive home seciton */
@media (max-width:435px){
    #home .content h1{
        font-size:30px;
        color: white;
    }
    #home .content button{
        padding: 25px 100px;
        display: block;
        margin: 0% auto;
        border-radius: 20px;
        border: 1px solid white;
        background: none;
        position: relative;
        overflow: hidden;
        transition: all .6s ease;
        font-size: 18px;
        width: 40px;
        height: 15px;
        cursor: pointer;
    }
}
@media (max-width:345px){
    #home .content h1{
        font-size:20px;
        color: white;
    }
    #home .content button{
        padding: 25px 90px;
        display: block;
        margin: 0% auto;
        border-radius: 20px;
        border: 1px solid white;
        background: none;
        position: relative;
        overflow: hidden;
        transition: all .6s ease;
        font-size: 16px;
        width: 30px;
        height: 15px;
        cursor: pointer;
    }
}
/* work section styling */
#work{
    width: 100%;
    box-sizing: border-box;
    height:auto;
    background: #ffffff;
    padding: 7% 3%;
}
#work .cards{
    place-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#work #title{
    text-align: center;
    font-size: 30px; 
    width: 30%;
    display: block;
    margin: 1% auto;
    color: brown;
}
@media (max-width:615px){
    #work #title{
        text-align: center;
        font-size: 15px; 
        width: 30%;
        display: block;
        margin: 1% auto;
        color: brown;
    }
}
#work .card{
    width: 250px;
    height: 350px;
    position: relative;
    background: #000;
    overflow: hidden;
    border-radius:4px ;
}
#work .card img{
    width: 100%;
    height: 100%;
    opacity: .7;
}
#work .card .content{
    background: rgba(0, 0, 0, 0.699);
    height: 50%;
    position: absolute;
    top:50%;
    left: 0%;
    color: white;
    text-align: center;
    box-sizing: border-box;
    color: #06f5be;
    transition: all .7s;
    display: grid;
    place-content: center;
}
#work .card:hover .content{
    position: absolute;
    top:0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.999);
}
#work .card .content h1{
    color: #eca083;
}
#work .card .content .fa-tractor{
    color: rgb(214 139 26);
}
#work .card .content .fa-building{
    color: rgb(156 156 146);
}
#work .card .content .fa-paint-brush{
    color: rgb(214 28 79);
}
#work .card .content .fa-glass-cheers{
    color: rgb(19 183 220);
}
/* making responsive my work section */
@media (max-width:1225px){
    #work .cards{
        grid-row-gap: 30px;
        place-items: center;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:935px){
    #work .cards{
        grid-row-gap: 30px;
        place-items: center;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:635px){
    #work .cards{
        grid-row-gap: 30px;
        place-items: center;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:260px){
    #work .card{
        width:240px;
        height: 300px;
    }
    #work .cards{
        grid-row-gap: 30px;
        place-items: center;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
/* styling member section */
#member{
    box-sizing: border-box;
    padding: 4% 0%;
    background: white;
}
#member .title{
    text-align: center;
    font-size: 30px; 
    width: 30%;
    display: block;
    margin: 1% auto;
    color: brown;
}
@media (max-width:615px){
    #member .title{
        text-align: center;
        font-size: 15px; 
        width: 30%;
        display: block;
        margin: 1% auto;
        color: brown;
    }
}
#member .flexMember{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
#member .flexMember .card{
    width: 250px;
    height:280px;
    position: relative;
    margin: 4% 2%;
    overflow: hidden;
    box-shadow: 0px 0px 15px gray;
    border-radius: 5px;
}
#member .flexMember .card .image{
    width: 100%;
    height: 100%;
}
#member .flexMember .card .image img{
    width: 100%;
    height: 100%;
}
#member .flexMember .card .builderName{
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 30%;
    background: rgba(0, 0, 0, 0.685);
    display: inline-block;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 20px;
    transition: all .4s ease-in-out;
}
#member .flexMember .card .builderName h1{
    color: crimson;
    padding-bottom: 10px;
    transition: color .6s;
}
#member .flexMember .card .builderName p{
    color: darkgray;
}
#member .flexMember .card:hover .builderName{
    height: 50%;
}

/* styling details section */
#detail{
    box-sizing: border-box;
    padding: 7% 0%;
    background:#262626;
}
#detail .title{
    text-align: center;
    font-size: 30px; 
    width: 30%;
    display: block;
    margin: 1% auto;
    color: brown;
}
@media (max-width:615px){
    #detail .title{
        text-align: center;
        font-size: 15px; 
        width: 30%;
        display: block;
        margin: 1% auto;
        color: brown;
    }
}
#detail .flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
#detail .flex .card{
    width: 250px;
    height: 250px;
    border: 2px dotted black;
    margin: 4% 2%;
    overflow: hidden;
    text-align: center;
    align-items: center;
    display: grid;
    place-items: center;
    place-content: center;
    font-size: 35px;
    color:gray;
    background: linear-gradient(45deg, rgb(52, 74, 92), rgba(52, 74, 92, 0.527));
}
#detail .flex .card h1{
    color: bisque;
}
/* styling my contact section */
#contact{
    box-sizing: border-box;
    padding: 10%;
    margin: 6% 0%;
    width: 100%;
    background: #262626;
}
.fa-phone{
    color: #d2c9c9;
    width: 30px;
    height: 30px;
}
#contact .ContactTitle{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}
#contact .ContactTitle span{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    margin: 0% auto;
    color: crimson;
}
#contact .contactFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: antiquewhite;
}
#contact .contactFlex .leftCorner{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: left;
    height: 100%;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
#contact .contactFlex .leftCorner span{
    display: block;
}
#contact .contactFlex .leftCorner form{
    width: 100%;
    text-align: center;
}
#contact .contactFlex .leftCorner input{
    width: 80%;
    border-radius: 4px;
    padding: 7px 15px;
}
#contact .contactFlex .leftCorner input:focus{
    border: none;
    padding: 7px 15px;
}
@media (max-width:615px){
    #contact .ContactTitle span{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        display: block;
        margin: 0% auto;
        color: crimson;
    }
    #contact .contactFlex .leftCorner input{
        width: 90%;
    }
}
#contact .contactFlex .leftCorner button{
    padding: 10px 20px;
    border-radius: 5px;
    background: rgb(20, 220, 160);
    color: white;
    border: 1px solid rgb(20, 220, 160);
    transition:all .4s;
    font-size: 18px;
    margin: 1% 0px;
    cursor:pointer;
}
#contact .contactFlex .leftCorner button:hover{
    background: white;
    color: rgb(20, 220, 160);
}
/* footer section styling */
#footer{
    background: #262626;
    width: 100%;
    padding: 1% 0%;
    text-align: center;
    font-size: 17px;
    color: white;
}
#footer i{
    color: orangered;
}